
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@800&display=swap');

/* sass mixins and variable */

@mixin box_shadow {
    -webkit-box-shadow: -2px 3px 24px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 24px -10px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 24px -10px rgba(0,0,0,0.75);
}
/* General setup */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #95a5a6;
}
body{
    font-family: 'Baloo Bhaina 2', cursive;
    background-color: #bdc3c7;
}
/*basic grid layout*/

.container{
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 980px 980px 980px;
}

/*Menu styling */

#avatar{
    border-radius:50%;
}
div #avatar{
    display: block;
    margin: 0 auto;
    


}
.x{
    padding: 16px;
    height: 300px;
    text-align: center;
    font-size: 14px;
    color: #95a5a6;
}
.menu{
    background-color: #2c3e50;
    width:400px;
    height: 980px;
    color: #95a5a6;
    position: fixed;
}
.navigation{
    border-top: 1px solid #34495e;
    align-content: center;
    text-align: end;
    padding: 12px;
    color: #ecf0f1;
}
.navigation:hover{
    background-color: #1e272e;
  
}
.navigation a{
    display: block;
}
.navigation a:hover{
    display: block;
    background-color:#1e272e;
    color: whitesmoke;
}
#y{
    border-bottom: 1px solid #34495e;
}

/* styling education section */

.education{
    grid-row:1/2;
    grid-column: 2/6;
    background-color: #3498db;
    color: #ecf0f1;
}
.university{
    display: block;
    margin: 0 auto;
    width:100%;
    height: 100%;
    text-align: center;

    p{
        margin-top: 30%;
    }
}
/*styling project*/

.projects{
    grid-row:3/4;
    grid-column: 2/6;
    background-color: #34e7e4;
    display: block;
    margin: 0 auto;
    width:100%;
    height: 100%;
    text-align: center;
    color: #575fcf;

    p{
        margin-top: 30%;
    }
   
}

/* styling work */

.workexperience{
    background-color: #27ae60;
    grid-column: 2/6;
    color: #ffdd59;
    display: block;
    margin: 0 auto;
    width:100%;
    height: 100%;
    text-align: center;

    p{
        margin-top: 30%;
    }
}

/* Media query */

@media screen and(max-width:768px){

    .container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 980px 980px 980px;
    }
    .menu{
        
        display: none;
        position: fixed;
    }
    .education{
        grid-row:1/2;
        grid-column: 1/2;
        background-color: #3498db;
        color: #ecf0f1;
    }
    .workexperience{
        background-color: #27ae60;
        grid-column: 1/2;
        color: white;
        display: block;
        margin: 0 auto;
        width:100%;
        height: 100%;
        text-align: center;
    
        p{
            margin-top: 30%;
        }
    }
    .projects{
        grid-row:3/4;
        grid-column: 1/2;
        background-color: #3498db;
        color: #ecf0f1;
    }


}